In [1]:
import pandas as pd

In [32]:
df = pd.read_csv('p_octubre.csv')

In [35]:
meses=['octubre','noviembre','diciembre','enero','febrero','marzo','abril','mayo']
nombre=[]
archivo=[]
for mes in meses:
    nombre.append('df_'+mes)
    archivo.append('p_'+mes+'.csv')

In [43]:
df_octubre=pd.read_csv('p_octubre.csv')

In [38]:

df_noviembre=pd.read_csv('p_noviembre.csv')
df_diciembre=pd.read_csv('p_diciembre.csv')
df_enero=pd.read_csv('p_enero.csv')
df_febrero=pd.read_csv('p_febrero.csv')
df_marzo=pd.read_csv('p_marzo.csv')
df_abril=pd.read_csv('p_abril.csv')
df_mayo=pd.read_csv('p_mayo.csv')
df_junio=pd.read_csv('p_junio.csv')

In [44]:
dfs=[df_octubre,df_noviembre,df_diciembre,df_enero,df_febrero,df_marzo,df_abril,df_mayo,df_junio]
df_general = pd.concat(dfs,ignore_index=True)
df_general.shape

(1319, 11)

In [45]:
df=df_general
df.head()

,Date,Start (ET),Visitor/Neutral,PTS,Home/Neutral,PTS.1,Unnamed: 6,Unnamed: 7,Attend.,Arena,Notes
0,"Tue, Oct 24, 2023",7:30p,Los Angeles Lakers,107.0,Denver Nuggets,119.0,Box Score,NaN,"19,842",Ball Arena,NaN
1,"Tue, Oct 24, 2023",10:00p,Phoenix Suns,108.0,Golden State Warriors,104.0,Box Score,NaN,"18,064",Chase Center,NaN
2,"Wed, Oct 25, 2023",7:00p,Houston Rockets,86.0,Orlando Magic,116.0,Box Score,NaN,"18,846",Kia Center,NaN
3,"Wed, Oct 25, 2023",7:00p,Boston Celtics,108.0,New York Knicks,104.0,Box Score,NaN,"19,812",Madison Square Garden (IV),NaN
4,"Wed, Oct 25, 2023",7:00p,Washington Wizards,120.0,Indiana Pacers,143.0,Box Score,NaN,"16,004",Gainbridge Fieldhouse,NaN

In [46]:
df.to_csv('partidostemp24.csv')