In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time

In [4]:
ratings = pd.read_csv('ratings_2k.csv')
ratings.head()
ataque=ratings

## DATOS DE RATINGS DE EQUIPOS ACTUALES NBA

    Estas valoraciones las he obtenido de la web www.2kratings.com Son las valoraciones hechas para los videojuegos 2k. 
#### GLOSARIO

* OVR = Overall
* INS = Inside Scoring (Layup, Standing Dunk, Driving Dunk, Post Hook, Post Fade, Post Control, Draw Foul, and Hands)
* OUT = Outside Scoring (Close Shot, Mid-Range Shot, Three-Point Shot, Free Throw, Shot IQ, and Offensive Consistency)
* ATH = Athleticism (Speed, Acceleration, Strength, Vertical, Stamina, Hustle, and Overall Durability)
* PLA = Playmaking (Pass Accuracy, Ball Handle, Speed with Ball, Pass IQ, and Pass Vision)
* DEF = Defending (Interior Defense, Perimeter Defense, Steal, Block, Lateral Quickness, Help Defense IQ, Pass Perception, and * Defensive Consistency)
* REB = Rebounding (Offensive Rebound and Defensive Rebound)
* INT = Intangibles: the rate of a player's ability to sink a shot in the clutch.
* POT = Potential: the rate in how fast a player's overall goes up during a season/off season (factoring age and injuries).

### elección de columnas

#### Me valen:
* OVR
* DEF
* TIER

In [13]:
ratings = ratings[['Team','TIER','OVR','DEF']]

#### Me quedo con el df ya limpio

In [14]:
ratings = pd.get_dummies(ratings,columns=['TIER'])
ratings

                      Team  OVR  DEF  TIER_T1  TIER_T2  TIER_T3
0            Atlanta Hawks   82   64    False    False     True
1           Boston Celtics   86   69     True    False    False
2            Brooklyn Nets   80   66    False    False     True
3        Charlotte Hornets   80   61    False    False     True
4            Chicago Bulls   82   66    False    False     True
5      Cleveland Cavaliers   82   66     True    False    False
6         Dallas Mavericks   83   64    False     True    False
7           Denver Nuggets   83   65    False     True    False
8          Detroit Pistons   79   63    False    False     True
9    Golden State Warriors   82   66    False     True    False
10         Houston Rockets   82   68    False     True    False
11          Indiana Pacers   83   65    False     True    False
12    Los Angeles Clippers   83   66     True    False    False
13      Los Angeles Lakers   83   66     True    False    False
14       Memphis Grizzlies   82   70     True    False    False
15              Miami Heat   82   62     True    False    False
16         Milwaukee Bucks   83   66     True    False    False
17  Minnesota Timberwolves   83   70     True    False    False
18    New Orleans Pelicans   82   66    False     True    False
19         New York Knicks   84   67    False     True    False
20   Oklahoma City Thunder   83   68     True    False    False
21           Orlando Magic   82   63    False     True    False
22      Philadelphia 76ers   83   66     True    False    False
23            Phoenix Suns   83   63    False     True    False
24  Portland Trail Blazers   81   62    False     True    False
25        Sacramento Kings   81   61    False    False     True
26       San Antonio Spurs   80   63    False    False     True
27         Toronto Raptors   81   63    False    False     True
28               Utah Jazz   80   59    False    False     True
29      Washington Wizards   79   61    False    False     True

In [15]:
ratings.to_csv('ratings.csv')

Voy a sacar otro csv con la valoracion general de ataque . 
que serán dos columnas

In [5]:
ataque.head()

,Team,TIER,OVR,INS,OUT,ATH,PLA,DEF,REB,INT,POT,Best Player's Overall
0,Atlanta Hawks,T3,82,61,82,75,68,64,59,83,83,89 Trae Young
1,Boston Celtics,T1,86,81,91,82,70,69,58,93,86,95 Jayson Tatum
2,Brooklyn Nets,T3,80,68,77,80,62,66,60,79,82,83 Mikal Bridges
3,Charlotte Hornets,T3,80,66,81,77,67,61,59,84,82,88 LaMelo Ball
4,Chicago Bulls,T3,82,76,85,80,72,66,56,74,83,88 DeMar DeRozan

In [6]:
ataque= ataque[['Team','INS','OUT']]

In [7]:
ataque.to_csv('ataque_ratings.csv')